.title {
    font-size: 30px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 3px 3px rgb(50, 50, 50);
}

.background {
    background-color: rgb(20, 20, 20);
    height: 100vh;
}

.div_settings {
    height: 500px;
    width: 50%;
    float: left;
    background-color: rgb(30, 30, 30);
}

.div_images {
    height: 500px;
    width: 50%;
    float: right;
    background-color: rgb(50, 50, 50);
}

.text_left {
    font-size: 20px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 3px 3px rgb(20, 20, 20);
}

.text_right {
    font-size: 20px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 3px 3px rgb(20, 20, 20);
}

input {
    width: 400px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    box-shadow: 3px 3px rgb(20, 20, 20);
}

select {
    width: 200px;
    height: 30px;
    font-weight: 900;
    box-shadow: 3px 3px rgb(20, 20, 20);
}

button {
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 900;
    background-color: white;
    box-shadow: 3px 3px rgb(20, 20, 20);
}

.settings_text {
    padding-top: 70px;
}

.images_text {
    padding-top: 220px;
}

.white_tshirt {
    width: 500px;
    height: 450px;
    margin-top: 20px;
    margin-right: 25px;
    position: relative; left: 0; top: 0;
}

.black_tshirt {
    width: 550px;
    height: 450px;
    margin-top: 20px;
    margin-right: 25px;
    position: relative; left: 0; top: 0;
}

.blue_tshirt {
    width: 500px;
    height: 450px;
    margin-top: 20px;
    position: relative; left: 0; top: 0;
}

.red_tshirt {
    width: 500px;
    height: 450px;
    margin-top: 20px;
    position: relative; left: 0; top: 0;
}

.img_tshirt {
    position: relative; left: 0; top: 0;
}

.img_internet {
    width: 150px;
    height: 150px;
    position: absolute; left: 0; top: 0;
    margin-left: 262.5px;
    margin-top: 120px;
}
